@model List<EcommerceProject.DTOs.Category.GetCategoryDTO>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
		<li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
	</ol>
</div>

<div class="container">
	<h2>Add SubCategory</h2>

	<form method="post" asp-controller="SubCategory" asp-action="SaveAddSubCategory">

		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" name="Name" required>
		</div>
		<div class="form-group">
			<label for="description">Description:</label>
			<textarea class="form-control" id="description" name="Description" rows="4" required></textarea>
		</div>
		<!-- Other properties specific to the category -->

		<div class="form-group">
			<label for="CategoryId">Catégorie:</label>
			<select id="CategoryId" name="CategoryId" class="form-control" required>
				@* <option value="">Sélectionner une catégorie</option> *@
				<!-- Ajoutez ici les options de catégorie en fonction de votre logique -->
				@foreach (var c in Model)
				{
					<option value="@c.Id">@c.Name</option>
				}
			</select>
		</div>

		<input type="submit" value="Add SubCategory" class="btn btn btn-sm">
	</form>
</div>