@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2>Add SubCategory</h2>

    <form method="post" asp-controller="SubCategory" asp-action="SaveAddSubCategory">

        @* <label for="categoryName">Name:</label>
        <input type="text" id="categoryName" name="Name" required class="form__input"><br><br>

        <label for="categoryDescription">Description:</label>
        <textarea id="categoryDescription" name="Description" required class="form__input"></textarea><br><br> *@

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="Name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="Description" rows="4" required></textarea>
        </div>
        <!-- Other properties specific to the category -->

        <input type="submit" value="Add SubCategory" class="btn btn btn-sm">
    </form>
</div>