<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceProject.styles.css" asp-append-version="true" />
    <link href="~/Assets" />
    <link href="~/Images2" />
    

    <!--============= FLATICON ===============-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>

    <!--============= SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!--============= Boxicons ===============-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EcommerceProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@

    <!--============= HEADER ===============-->
    <header class="header2">
        <div class="header__top">
            <div class="header__container container">
                <div class="header__contact">
                    <span>(+243) - 526 - 0007</span>

                    <span> Our location</span>
                </div>

                <p class="header__alert-news">
                    Super Value Deals - Save more with coupons
                </p>

                <a href="login-register.html" class="header__top-action">
                    Log In / Sign Up
                </a>
            </div>
        </div>

        <nav class="nav container">
            <a asp-controller="Home" asp-action="Index" class="nav__logo">
                <img src="Assets/Img/Icons/shopping-online.jpg" alt="" class="nav__logo-img" />
            </a>

            <div class="nav__menu" id="nav-menu">
                <div class="nav__menu-top">
                    <a href="index.html" class="nav__menu-logo">
                        <img src="Assets/Img/Icons/shopping-online.jpg" alt="">
                    </a>

                    <div class="nav__close" id="nav-close">
                        <i class="fi fi-rs-cross-small"></i>
                    </div>
                </div>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a asp-controller="Home" asp-action="Index" class="nav__link active-link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a asp-controller="Shop" asp-action="Index" class="nav__link">Shop</a>
                    </li>

                    <li class="nav__item">
                        <a href="accounts.html" class="nav__link">My Account</a>
                    </li>

                    <li class="nav__item">
                        <a asp-controller="Compare" asp-action="Index" class="nav__link">Compare</a>
                    </li>

                    <li class="nav__item">
                        <a asp-controller="Admin" asp-action="Index" class="nav__link">Dashboard</a>
                    </li>
                </ul>

                <div class="header__search">
                    <input type="text"
                           placeholder="Search for items..."
                           class="form__input" />

                    <button class="search__btn">
                        <img src="Assets/Img/" alt="" />
                        <i class='bx bxs-search'></i>
                    </button>
                </div>
            </div>

            <div class="header__user-actions">
                <a asp-controller="Wishlist" asp-action="Index" class="header__action-btn">
                    <!--<img src="Assets/Img/" alt="">-->
                    <i class='bx bx-heart header__action-btn'></i>
                    <span class="count">3</span>
                </a>

                <a asp-controller="Cart" asp-action="Index" class="header__action-btn">
                    <img src="Assets/Img/" alt="">
                    <i class='bx bx-shopping-bag'></i>
                    <span class="count">3</span>
                </a>

                <div class="header__action-btn nav__toggle" id="nav-toggle">
                    <img src="Assets/Img/Icons/indent_left_icon_155245.png" alt="">
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3 main" style="margin-bottom: 100px;" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EcommerceProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <!--============== SWIPER JS ==============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="path/to/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
